body{
    background-attachment: fixed;
    background-position: center;
    background-color: #515151;
    
    color: #ffffff;
    font-family: Lato, sans-serif;
}
.btn{
    background-color: #C901C7; 
    border-color: #C901C7;
    border-radius: 0px;
}
.list-group-item{
    background-color: #2D809E; 
    border-radius: 0px !important;
    border-color: #205c70;
}
.btn:hover{
    background-color: #C901C7; 
    border-color: #C901C7;
    color: #5BC6ED;
}

/* Album */
.col-3.align-self-center.m-3{
    z-index: 1;
}
.c_album_container{
   background-color: #2D809E; 
}
.c_album:hover{
    cursor: pointer;
}
.c_nowrap{
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}
.c_price{
    color: #b2c7f3;
    font-weight: bold;
}

/* Product Description Box */
#id_pDescription{
    background-color: #2D809E; 
    z-index: 20;
}
#id_close:hover{
    cursor: pointer;
}
#id_pForm input[name="quantity"]{
    width: 75px;
}
#id_pDescription .btn{
    background-color: #C901C7; 
    border-color: #C901C7;
    border-radius: 0px;
    color: #ffffff;
}

/*Shopping Cart*/
#id_dropCart{
    position: fixed !important; 
    z-index: 10;
}
#id_dropCart .dropdown-menu{
    background-color: #E3E3E3;
    color: #2D809E;
    border-radius: 0px;
    z-index: 10;
    min-width: 350px;
}

#id_dropCart .dropdown-menu > div{
    max-height: 500px;
    overflow-y: scroll;
}
#id_dropCart .btn{
    background-color: #C901C7; 
    border-color: #C901C7;
    border-radius: 0px;
}
#id_dropCart .btn:hover{
    color: #5BC6ED;
}
#id_dropCart .dropdown-toggle{
    color: #ffffff;
    font-family: "Streamster","Permanent Marker";
}
#id_dropCart .row{
    margin-left: 0px !important; 
    margin-right: 0px !important;
}
#id_dropCart input[name="quantity"]{
    display: inline-block;
    width: 50px;
    outline: none;
    border: none;
    color: #2D809E;
    text-decoration: underline;
    background-color: #E3E3E3;
}
#id_dropCart p{
    margin: 0px 0px 5px;
}
#id_dropCart form button{
    width: 75px;
}

.c_album_info{
    opacity: 0;
}

/* Bootstrap styling 8/

/* Bootstrap 4 stuff */
html{
    font-size: 1rem;
    line-height: 1.15;
}
body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}
.img-fluid-height{
    max-height: 100%;
    width: auto;
}
.justify-content-center{
    justify-content: center !important;
}
.justify-content-end{
    justify-content: flex-end !important;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: flex-end;
}
.align-self-center{
    align-self: center !important;
}

.m-0{
    margin: 0px !important;
}
.m-3{
    margin: 1rem !important;
}
.mt-5{
    margin-top: 3rem !important;
}
.mb-0{
    margin-bottom: 0px !important;
}
.mx-auto{
    margin-right: auto !important;
    margin-left: auto !important;
}

.p-1{
    padding: .25rem !important;
}
.p-2{
    padding: .5rem !important;
}
.p-3{
    padding: 1rem !important;
}
.p-4{
    padding: 1.5rem !important;
}
.p-5{
    padding: 3rem !important;
}
.pt-0{
    padding-top: 0rem !important;
}
.pt-4{
    padding-top: 0.5rem !important;
}
.pr-4{
    padding-right: 1.5rem !important;
}
.pl-4{
    padding-left: 1.5rem !important;
}


.w-50{
    width: 50% !important;
}
.w-60{
    width: 60% !important;
}
.w-75{
    width: 75% !important;
}
.w-100{
    width: 100% !important;
}

.h-25{
    height: 25% !important;
}
.h-100{
    height: 100% !important;
}

.col, .col-3, .col-4, .col-6, .col-7, .col-8, .col-12{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}
.col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.col-7{
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
}
.col-8{
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    text-align: left;
}

/* Playlist Styles */
#id_fullPlayer{
    background-color: #2D809E;
}
#id_player{
    /* max-width: 600px; */
    min-width: 300px;
    display: block;
    margin: 25px auto;
    background-color: #2D809E;
    border: 0px solid red;
}
#id_nowPlaying, #id_playerAudio, #id_playerControls, #id_playerPlaylist{
    display: block;
    margin: 0px auto;
    text-align: center;
}
#id_playerControls{
    padding: 10px;
}
#id_playerControls span:hover{
    cursor: pointer;
    background-color: #205c70;
}
#id_prev, #id_next{
    padding: 5px;
}
#id_playerPlaylist ul{
    list-style: none;
    text-align: left;
    padding: 10px;
}
#id_playerPlaylist ul li{
    padding: 5px;
}
#id_playerPlaylist ul li:hover{
    cursor: pointer;
    background-color: #205c70;
}
#id_playerArtist img{
    padding: 5px;
    border: 1px solid #ff00fc;
    margin-top: -150px;   
}
.currentTrack{
    background-color: #205c70;
}
/* Not Using For Now*/
#id_nowPlaying{
    text-align: left;
    padding: 10px;
}
#id_playState{
    text-align: left;
}
#id_playName{
    float: right;
    border: 1px solid purple;
}